<div class='container' style='padding-bottom:130px;'>
  <h1 class = "header text-center mt-5 ">EDIT MY TASK</h1>
  <%= render "form", task: @task %>
  <div class='container d-flex justify-content-center'>
    <%= link_to "BACK TO HOME", tasks_path(@tasks), class:'btn btn-secondary d-flex justify-content-center'  %>
  </div>
</div>
