<div class="container d-flex flex-column align-items-center justify-content-center" style="padding-bottom:130px;">
  <h1 class = "header text-center mt-5 ">Add a task</h1>
  <%= render "form", task: @task %>
  <%= link_to "BACK TO HOME", tasks_path(@tasks), class:'btn btn-secondary' %>
</div>
