<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('taskmanager.png') %>); background-position: 80% 50%;">
  <div class="container">
    <h1>HmoriKLTA Task Manager</h1>
    <a class="btn btn-primary mt-3" style='display: inline-block' href="https://github.com/HmoriKLTA"><i class="fa-brands fa-github"></i> My Github</a>
  </div>
</div>
